.container {
    &__card {
        &--header {
            color: var(--color-primary-500);
        }
        &--body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 2rem;

            #description {
                grid-column: span 2;
            }
        }
    }
}
